<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'movies/style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        $(document).ready(function(){
            $("input:checkbox").change(function(){
                var params = {};
                params[$(this).prop('name')] = $(this).prop('checked');
                params['movie_id'] = $(this).attr('movieid');
                params['csrfmiddlewaretoken'] = csrftoken;
                $.post('set_status/', params);
            });
        });
    </script>
</head>

<h1>Welcome to my world!</h1>

<body>
    {% if notification %}<p>{{ notification }}</p>{% endif %}

    <form action="{% url 'movies:update_watched_movies' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Update watched movies" />
    </form>

    <hr>
    <h2>Filters</h2>
    {% if genres %}
        <form action="{% url 'movies:filter' %}" method="get">
            <select name="genre" id="genre">
                {% for genre in genres %}
                    <option value="{{ genre.id }}">{{ genre.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="确定">
        </form>
    {% endif %}

    <hr>
    <form action="{% url 'movies:crawl' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Crawl" />
    </form>

    {% if movies %}
        <ul>
        {% for movie in movies %}
            <li type='1'>
            <img src="{{ movie.image_medium }}" alt="movie image"/>
                <a href="{{ movie.alt }}">{{ movie.title }}</a>
                <h3>评分：{{ movie.rating_average }}</h3>
                <h3>看过：{{ movie.collect_count }}</h3>
                <h3>年代：{{ movie.year }}</h3>
                <input type="checkbox" {% if movie.boring %}checked="checked"{% endif %} name="boring" movieid="{{ movie.douban_id }}">不想看</input>
                <input type="checkbox" {% if movie.watched %}checked="checked"{% endif %} name="watched" movieid="{{ movie.douban_id }}">看过了</input>
                <input type="checkbox" {% if movie.series %}checked="checked"{% endif %} name="series" movieid="{{ movie.douban_id }}">是电视剧或动画长片</input>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No movies match.</p>
    {% endif %}
</body>

</html>

